<footer class="card-footer">
    <blockquote class="blockquote mb-0">
      <p>footer</p>
      <footer class="blockquote-footer">Mehran Jalali &copy; 2022 @ <cite title="Source Title">ColtSteel</cite></footer>
    </blockquote>
  </footer>
</body>
</html>
