<%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 5*2-2+3%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt libero
      dolor necessitatibus odio sed deserunt?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eveniet
      nesciunt nisi deleniti impedit rem quisquam! Minus officia id repudiandae!
    </p>
  </body>
</html>
